*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../src/assets/img/lineup-hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}
.all-container{
    height: 80vh;
}

/* Content styles */
.content {
    
    position: relative;
    z-index: 3;
    color: white;
    font-family: Arial, sans-serif;
    top: 3em;
    left: 20em;
    width: 40em;
    
    
}

.terrain {
    background-image: url(../src/assets/img/field-bg.png);
    background-size: cover; /* Ensure the field image scales properly */
    background-position: center;
    width: 58em; /* Adjust field width */
    height: 40em; /* Adjust field height */
    position: relative;
    z-index: 3; /* Ensure it is above the blur overlay */
   
    
}
.terrain{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    place-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 3; /* Ensure the container is above the overlay */
    position: relative;
    width: 100vw;
    gap: 3em;
}

.soutitre{
    font-size: small;
    text-decoration: double;
}
.cards-container {
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    aspect-ratio: 13 / 19;
    height: 170px;
    width: 70%;
    background: url(../src/assets/img/placeholder-card-normal.webp) no-repeat;
    background-position: center;
    background-size: contain;
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    color: #07D95A;
}

.cards-container:hover {
    filter: drop-shadow(0px 0px 13px rgb(75, 172, 75));
}

#gk{
    position: absolute;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:4 ;
    grid-row-end: 5;
   
}
#rb{
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3 ;
    grid-row-end: 4;
}
#lb{
    
    position: absolute;
    
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:3 ;
    grid-row-end: 4;

}
.cb2{
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:4 ;
    grid-row-end: 5;
    margin-bottom: 3em;
   
}
.cb1{
  position: absolute;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  top: -55px;
   
}

#cmr{
    position: absolute;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end: 3;
    top: 6em;
}
#cml{
    position: absolute;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:2 ;
    grid-row-end: 3;
    top: 6em;
}
#cmd{
  position: absolute;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  top: 1em;
    
}
#lw{
    
    position: absolute;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start:1;
    grid-row-end: 2;
    top: 3em;
    right: 8em;

}
#rw{
    
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 2;
    top: 3em;
    left    : 8em;

}
#st{
    position: absolute;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end: 2;

   
} 
.plus{
    position: absolute;
    bottom: 5.3em;
}

.chimastry{
    color: aliceblue;
    padding: 3em;
    font-size: x-large;
}
.cards-container{
    display: flex;
    flex-direction: column;
}

#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}

#card-container2 {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
#card-container::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }


  #card-container2::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
.player-card {
    background-image: url(../src/assets/img/badge_gold.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 191px;
    height: 291px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: relative;
    font-size: 14px;
    color: #4d331f;
}

.player-card .photo{
  margin-bottom: -4px;
  position: relative;
  top: 36px;
  right: -24px;
  width: 79px;
}

.rating {
  position: absolute;
  top: 11px;
  left: 21px;
  font-size: 26px;
  font-weight: bold;
  color: #4d331f;
}

.position {
  position: absolute;
  top: 71px;
  right: 94px;
  font-size: 13px;
  font-weight: bold;
  color: #4d331f;
}

.stats {
  gap: 0px;
  margin-top: 10px;
  display: flex
;
  justify-content: center;
  position: absolute;
  top: 134px;
  left: 19px;
  width: 106px;
  color: #4d331f;
  font-size: 7px;
  font-weight: bold;
}

.stat {
font-weight: bold;
display: flex;
flex-direction: column;
color: #4d331f;
}
.logo{
  position: absolute;
  top: 163px;
  right: 69px;
  width: 15px;

}
.name{
  position: relative;
  top: 41px;
  left: 4px;
  color: #4d331f;
  font-size: 13px;
  font-weight: bold;
}
.flag{
  position: relative;
  top: 61px;
  left: 66px;
  width: 13px;
}
.theall{

    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex
;
background: transparent;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 60%;
    position: absolute;
    bottom: 10em;
    z-index: 5;
    /* height: 117px; */
    left: 12em;
}

.theall2{

    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex
;
background: transparent;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 60%;
    position: absolute;
    bottom: 10em;
    z-index: 5;
    /* height: 117px; */
    left: 12em;
}
.replasent{
    display: flex
;
    justify-content: center;
    width: 80%;
}

.container-replasent {
    display: flex;
    gap: 29px;
}

.info-squad {
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 20%;
    height: 505px;
}

.btn button {
    padding: 15px;
    width: 100%;
    background-color: var(--primary-color);
    border: solid 1.5px gray;
    border-radius: var(--raduis);
    color: var(--color-white);
    transition: ease-out 0.5s;
    margin-bottom: 30px;
}

.btn button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: ease-out 0.5s;
}

.lineup .select-lineup {
    margin-top: 10px;
    width: 100%;
    padding: 10px 15px;
    border: solid 1px gray;
    border-radius: var(--raduis);
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-formations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    margin-top: 20px;
}

.team-formations .formation {
    padding: 4px 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.team-formations .formation:hover {
    background-color: gray;
    cursor: pointer;
}

.team-formations .active {
    background-color: var(--aqua-color);
}

.team-formations .active:hover {
    background-color: rgb(61, 201, 201);
}

.select-lineup:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    gap: 15px;
}

.rating .card-rate {
    text-align: center;
}

    

.total-chemistry {
    border-top: solid 1px rgba(128, 128, 128, 0.452);
    border-bottom: solid 1px rgba(128, 128, 128, 0.452);
    padding: 20px 0;
    margin-bottom: 30px;
}

.total-chemistry .range-rate {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.range-rate .range {
    width: 100%;
    height: 12px;
    background-color: #494949;
    border-radius: 9px;
    margin: 0 6px;
    display: flex;
    align-items: center;
}

.range .line-range {
    width: 92%;
    height: 10px;
    background: linear-gradient(to right, rgb(207, 36, 36), rgb(218, 161, 56), green);
    border-radius: 9px;
}

.price {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
}

.price h4 {
    margin-right: 15px;
}

.show-all-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #07D95A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.show-all-btn:hover {
    background-color: #05b94d;
}

.gk-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .gk-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }


  #card-container2::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }
  














  .st-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .st-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }


  







  .cb1-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .cb1-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }










  .cb2-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .cb2-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }







  .rb-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .rb-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }







  .lb-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .lb-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }







  .cmd-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .cmd-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }



  .cml-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .cml-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }






  .cmr-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .cmr-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }





  .cmr-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .cmr-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }









  .lw-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .lw-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }







  .rw-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .rw-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }



  .remplacent-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 59vw;
    height: 60vh;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 210px;
    left: 203px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
  }
  
  .hidden {
    display: none;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    color: #059b41;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 50%;
    z-index: 1001;
  }

  .remplacent-modal::-webkit-scrollbar {
    width: 6px;
  }#card-container {
    display: flex
;
    justify-content: center;
    flex-wrap: wrap;
    color: #059b41;
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    background-repeat: no-repeat;
    background-size: cover;
    height: 47em;
    overflow-y: scroll;
    border-radius: 15px;
    border: solid


}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #059b41; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }


  #addPlayerForm{
    position: absolute;
    top: 0;
    left: 0;
    width: 18vw;
    height: 60vh;
    color: #059b41;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex
;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    top: 83px;
    left: 1079px;
    color: #059b41;
    border-radius: 15px;
    border: solid;
    gap: 10px;
    /* flex-wrap: wrap; */
    padding: 10px;
    align-items: center;
    scrollbar-width: none;

  }

  #addPlayerForm input,select,option{
    height: 100px;
    width: 80%;
    color: #688573;
    border-radius: 5px;
    border: solid;
    background: transparent;
    
  
}

#addPlayerForm button{
  border: #f5f5f5;
  border: solid;
  border-radius: 5px;
  color: #5de029;
  width: 40%;
  height: 60px;
  
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}

.delete-btn.hidden {
  display: none;
}

.player-card {
  position: relative;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
  width: 138px;
  text-align: center;
  height: 199px;
}




  



